body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            
        }
        header {
            background-color: rgb(0, 0, 14);
            color: gold;
            padding: 10px 20px;
            text-align: center;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #c60606;
            justify-content: center;
            display: flex;
        }
        nav li {
            margin: 0 15px;
            font-size: 24px;
        }
        nav li a {
            font-family: 'Times New Roman', Times, serif; 
            display: block;
            color: Silver;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        nav li a:hover {
            background-color: #000080;
        }
        main {
            text-align: justify;
            background-color: rgb(0, 0, 79);
            padding: 20px;
        }
        h1 {
            color: #ffd700;
            background-color: rgb(0, 0, 14);
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        h2 {
            color: #ffd700;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        ul {
            display: inline-block;
            text-align: left;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px; 
        }
        th, td {
            border: 1px solid #ccc; 
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #c60606;
            color: white;
            text-transform: uppercase; 
        }
        tr:nth-child(even) { 
            background-color: #f2f2f2;
        }
        form {
            width: 80%;
            margin: 30px auto;
            border: 3px solid #333333;
            padding: 15px;
            color: black;
            background-color: white;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }